body{
	font-family: Arial, sans-serif;
}
nav{
	width: 100%;
	height: 60px;
	background: #344051;
}

.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 300px;
	float: left;
}

.menu{
	float: left;
	padding-left: 332px;
}

.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 30px;
	font-size: 16px;
	text-transform: uppercase;
}
.main{
	width: 100%;
	height: calc(100% - 60px);
	background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title__container{
	float: left;
	margin: 300px 0px 0px 304px;
	color: #2c384a;
	text-align: center;
}
.title__container h1{
	font-size: 55px;
	font-weight: bold;
}

.title__container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}

.title__container input{
height: 40px;
text-align: center;
border: 2px solid #6d7682;
background: none;
border-radius: 5px;
color: #6d7682;
font-size: 13px;
padding: 0px 16px;
margin: 58px 14px 0px 14px;
}

.inform h2{
	margin-top: 100px;
	text-align: center;
	font-size: 30px;
    color: #263244;
    text-transform: uppercase;
    font-weight: bold;
}

.line{
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}

.pht{
	text-align: center;
margin-top: 60px;
}

.text p{
text-align: center;
margin-top: 23px;
margin-bottom: 40px;
color: #3f495a;
}

.icon{
height: 30px;
text-align: center;
border: 2px solid #6f707e; 
border-radius: 5px; 
color: #6f707e;
background: none;
padding: 10px 15px 20px 14px;
margin: 40px 670px 50px 655px;
display: block;
position: top;
}

.icon input{
	height: 15px;
	background: none;
}

.item_abil{
background: url(../img/bgr.jpg) no-repeat;
}


.item_ability{
	float: left;
	width: 350px;
}
