body{
	font-family: Arial, sans-serif;
}
nav{
	width: 100%;
	height: 60px;
	background: #344051;
}

.logo{
	color: #fff;
	font-size: 28px;
	line-height: 60px;
	padding-left: 300px;
	float: left;
}

.menu{
	float: left;
	padding-left: 332px;
}

.menu li{
	float: left;
	line-height: 60px;
	color: #fff;
	margin-right: 30px;
	font-size: 16px;
	text-transform: uppercase;
}
.main{
	width: 100%;
	height: calc(100% - 60px);
	background: url(../img/boy.png) 90% 100%/auto 85% no-repeat, url(../img/bg.jpg) center/cover no-repeat;
}

.title__container{
	float: left;
	margin: 300px 0px 0px 304px;
	color: #2c384a;
	text-align: center;
}
.title__container h1{
	font-size: 55px;
	font-weight: bold;
}

.title__container h4{
	margin-top: 40px;
	font-size: 22px;
	color: #79818d;
}

.title__container input{
height: 40px;
text-align: center;
border: 2px solid #6d7682;
background: none;
border-radius: 5px;
color: #6d7682;
font-size: 13px;
padding: 0px 16px;
margin: 58px 14px 0px 14px;
}

.inform h2{
	padding-top: 180px;
	text-align: center;
	font-size: 30px;
    color: #263244;
    text-transform: uppercase;
    font-weight: bold;
}

.line{
	display: block;
	margin: 0 auto;
	margin-top: 30px;
}

.pht{
text-align: center;
margin-top: 60px;
}

.text p{
text-align: center;
margin-top: 23px;
margin-bottom: 40px;
color: #3f495a;
}

.icon{
height: 30px;
text-align: center;
border: 2px solid #6f707e; 
border-radius: 5px; 
color: #6f707e;
background: none;
padding: 10px 15px 20px 14px;
margin: 40px 670px 50px 655px;
display: block;
position: top;
}

.icon input{
	height: 15px;
	background: none;
}

.item_abil{
	height: 600px;
	background: url(../img/bgr.jpg) center/cover no-repeat;
}

.item_ability{
float: left;
width: 350px;
margin-top: 100px;
}

.item_ability h4{
	margin-top: 35px;
	color: #cf7600;
	 font-weight: bold;
}

.item_ability p{
	margin-top: 10px;
	line-height: 20px;
	font-size: 15px;
	color: #3f495a;
}

.cases p{
	margin-top: 30px;
	color: #3f495a;
	font-family: Calibri, sans-serif;
	font-size: 15px;
}

.case{
	margin-top: 60px;

}

.proekt h4{
margin-right: 450px;
margin-top: 50px;
text-indent: 50px;
font-weight: bold;
font-size: 18px;
color: #384354;
}

.proekt p{
	position: relative;
   color: #3f495a;
   float: left;
   text-align: left;
}

.client{
	float: left;
	width: 386px;

}

.client h3{
	color: #384354;
	font-weight: bold;
	margin-top: 10px;
}

.client h5{
	margin-top: 8px;
	color: #3f495a;
}

.link{
	color: #3f495a;
	margin-top: 16px;
}

.client input{
	height: 43px;
	border: 2px solid #63b5ae;
	background: #63b5ae;
	border-radius: 5px;
	color: #ffffff;
	padding: 0px 20px;
	display: block;
	margin-left: 120px;
	margin-top: 20px;
}

.typ h3{
	margin-top: 50px;
}

.tip h3{
	margin-top: 30px;
	margin-right: 580px;
	color: #1c2534;
	text-transform: uppercase;
	font-size: 20px;
	font-family: Franklin Gothic Medium;
}

.design h3{
	margin-top: 30px;
	margin-right: 600px;
	color: #1c2534;
	text-transform: uppercase;
	font-size: 20px;
	font-family: Franklin Gothic Medium;
}

.adapt h3{
	margin-top: 30px;
	margin-right: 535px;
	color: #1c2534;
	text-transform: uppercase;
	font-size: 20px;
	font-family: Franklin Gothic Medium;
}

.select-css{
	display: block;
	margin: 25px;
	margin-left: 400px;
	border: 2px solid #eeeeee;
	background: #eeeeee;
	color: #7d7d7d;
	padding: 13px 620px 15px 15px;

}

.date{
	float: left;
	margin-left: 400px;
	color: #1c2534;
	font-weight: bold;
}

.zero{
	float: left;
	margin-left: 719px;
color: #1c2534;
font-weight: bold;

}

.cost{
	float: left;
	margin-left: 400px;
	color: #1c2534;
	font-weight: bold;
}

.null{
	float: left;
	margin-left: 691px;
	color: #1c2534;
	font-weight: bold;
}


.statist{
	height: 600px;
	background: url(../img/bgrn.jpg) 30% 100%/auto 85% no-repeat;
}

.some_statistics{
float: left;
width: 350px;
margin-top: 120px;
}

.some_statistics h3{
	color: #384354;
	font-weight: bold;
	margin-top: 25px;
	font-family: Impact, sans-serif;
	font-size: 35px;
}

.some_statistics p{
	color: #525b68;
	font-family: Franklin Gothic Medium, sans-serif;
	font-size: 15px;
	margin-top: 20px;
	text-transform: uppercase;
}

.rew{
	margin: 40px;
}
.reviews{
	margin-top: 58px;
}

.reviews p{
	margin-top: 35px;
	color: #243042;
}

.reviews input{
	margin-top: 50px;
	margin-left: 15px;
}

.bagr{
	background: url(../img/bgrnd.jpg) 30% 100%/auto 90% no-repeat;
}

.contact h2{
	color: #ffffff;
}

.inscr{
	color: #ffffff !important;
}

.my_contacts p{
	color: #ffffff;
}

.my_contacts{
display: inline-block;
width: 220px;
margin-top: 50px;
margin-left: 50px;
margin-right: 10px;
}

.mess{
	color: #ffffff;
	text-transform: uppercase;
	margin: 30px;
	font-size: 16px;
	margin-top: 50px;
	
}

.name{
	display: inline-block;
	float: left;
	margin-left: 400px;
	width: 280px;
	border: 2px solid #d2d6dc;
	background: #d2d6dc;
	padding: 5px 5px;
}

.name input{
	background: #d2d6dc;
	margin-right: 90px;
}

.mail{
	display: inline-block;
	float: left;
	margin-left: 40px;
	width: 280px;
	border: 2px solid #d2d6dc;
	background: #d2d6dc;
	padding: 5px 5px;
	
}

.mail input{
	background: #d2d6dc;
	margin-right: 90px;
}

.mes{
	margin-top: 80px;
	margin-left: 400px;
	margin-right: 400px;
	border: 2px solid #d2d6dc;
	background: #d2d6dc;
	padding: 30px;
}

.mes textarea{
	background: #d2d6dc;
	height: 50px;
	margin-right: 900px;
}

.send input{
height: 40px;
text-align: center;
border: 2px solid #f9faff;
background: none;
border-radius: 4px;
color: #ffffff;
font-size: 13px;
padding: 0px 20px;
margin: 20px 14px 0px 14px;
}

.iconic{
display: inline-block;
width: 30px;
margin-top: 50px;
margin-left: 50px;
margin-right: 10px;
}

.map{
	margin-top: 40px;
}

.tend h6{
	color: #ffffff;
	margin-top: 30px;
}


